aiofiles==23.1.0
aiogram==3.0.0b7
aiohttp==3.8.4
aioredis==2.0.1
aiosignal==1.3.1
aiosqlite==0.17.0
amqp==5.1.1
anyio==3.6.2
appdirs==1.4.4
APScheduler==3.6.3
asgiref==3.6.0
asttokens==2.2.1
async-timeout==4.0.2
attrs==22.2.0
Automat==22.10.0
autopep8==2.0.1
Babel==2.9.1
backcall==0.2.0
beautifulsoup4==4.12.2
billiard==3.6.4.0
bs4==0.0.1
cachetools==4.2.2
celery==5.2.7
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.6
comm==0.1.2
constantly==15.1.0
cryptography==39.0.1
cssbeautifier==1.14.7
cssselect==1.2.0
dataclasses-json==0.5.8
debugpy==1.6.6
decorator==5.1.1
Django==4.1.7
django-filter==22.1
djangorestframework==3.14.0
djlint==1.19.16
docopt==0.6.2
EditorConfig==0.12.3
executing==1.2.0
fake-useragent==1.1.3
fastapi==0.92.0
ffmpeg-python==0.2.0
frozenlist==1.3.3
future==0.18.3
greenlet==2.0.2
h11==0.14.0
hiredis==2.2.2
html-tag-names==0.1.2
html-void-elements==0.1.0
httpcore==0.17.2
httpx==0.24.1
hyperlink==21.0.0
idna==3.4
importlib-metadata==6.0.0
incremental==22.10.0
ipykernel==6.21.2
ipython==8.10.0
jedi==0.18.2
Js2Py==0.74
jsbeautifier==1.14.7
jupyter_client==8.0.2
jupyter_core==5.2.0
kombu==5.2.4
loguru==0.7.2
lxml==4.9.2
magic-filter==1.0.9
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib-inline==0.1.6
multidict==6.0.4
mypy-extensions==1.0.0
mysqlclient==2.2.0
names==0.3.0
nest-asyncio==1.5.6
numpy==1.24.2
opencv-python==4.7.0.72
opentele==1.15.1
orjson==3.9.1
packaging==23.0
pandas==2.1.2
parse==1.19.0
parso==0.8.3
pathspec==0.11.1
pickleshare==0.7.5
Pillow==9.5.0
pipreqs==0.4.13
platformdirs==3.0.0
playwright==1.38.0
prompt-toolkit==3.0.36
psutil==5.9.4
pure-eval==0.2.2
pyaes==1.6.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.13
pycodestyle==2.10.0
pycparser==2.21
pydantic==1.10.13
pydub==0.25.1
pyee==9.0.4
Pygments==2.14.0
pyjsparser==2.7.1
PyMySQL==1.1.0
pyOpenSSL==23.0.0
pyppeteer==1.0.2
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.1
pyquery==2.0.0
Pyrogram==2.0.99
PySocks==1.7.1
pyspnego==0.8.0
pytesseract==0.3.10
python-dateutil==2.8.2
python-telegram-bot==13.15
pytz==2023.3.post1
pywin32==305
pywinrm==0.4.3
PyYAML==6.0
pyzmq==25.0.0
qt4reactor==1.6
redis==4.5.1
regex==2022.10.31
requests==2.31.0
requests-html==0.10.0
requests-ntlm==1.2.0
rsa==4.9
service-identity==21.1.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.4.1
SQLAlchemy==1.4.41
sqlalchemy2-stubs==0.0.2a35
sqlmodel==0.0.8
sqlparse==0.4.3
sse-starlette==1.2.1
stack-data==0.6.2
starlette==0.25.0
Telethon==1.27.0
TGConvertor==0.0.7
TgCrypto==1.2.5
tinydb==4.7.1
tomli==2.0.1
tornado==6.1
tqdm==4.64.1
traitlets==5.9.0
Twisted==22.10.0
twisted-iocpsupport==1.0.2
typing-inspect==0.9.0
typing_extensions==4.5.0
tzdata==2022.7
tzlocal==5.0.1
urllib3==1.26.14
uvicorn==0.20.0
vine==5.0.0
w3lib==2.1.1
wcwidth==0.2.6
websockets==10.4
win32-setctime==1.1.0
xmltodict==0.13.0
yarg==0.1.9
yarl==1.8.2
zipp==3.15.0
zope.interface==5.5.2